fastapi
uvicorn[standard]

sqlalchemy
psycopg[binary]
alembic

pydantic
pydantic-settings

python-jose[cryptography]
passlib[bcrypt]
bcrypt

python-multipart

huggingface_hub

pypdf
chromadb
sentence-transformers